.App {
    text-align: center;
  }

/* NAVBAR */

.homeLogo {
  color: orange;
}


/* BANNER */

.banner {
  margin-top: 0.1em!important;
  text-align: center;
  background-color: #7bcdc8; 
  color: white;
  max-width: 100;
}

.banner a {
  color: white;
}

.banner  p {
  margin-top: 0.2em!important;
}