.App {
    text-align: center;
}

/* NAVBAR */

.homeLogo {
  color: #f47d31;
}

#houseLogo {
  font-size: 2.2em;
}

#hamburger {
  color: #f47d31;
}

/* BANNER */

.banner {
  margin-top: 0.1em!important;
  text-align: center;
  background-color: #7bcdc8; 
  color: white;
  max-width: 100;
}

.banner a {
  color: white;
}

.banner  p {
  margin-top: 0.2em!important;
}

/* AUTH */

.login, .register{
  display: inline-block;
  position: relative;
  text-align: center;
}

/* .loginHeader, .registerHeader {
  display: inline-block;
  position: absolute;
  text-align: center;
} */

.email {
  width: 20em;
}

.password {
  width: 20em;
}

/* PATIENT LANDING PAGE */


.patientIcons {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 3em;
}

#viewAll, #findPatient, #addPatient {
  font-size: 5em;
  color: #f47d31;
}